# This is an example .env file for the Synkro application. You should copy this file to .env and fill in the values before running the application.

# Some SGDB don't like localhost so you sould use 127.0.0.1 instead.
DATABASE_HOST=
DATABASE_NAME=

# MariaDB/MySQL Default is "root" with no password but it's recommended to create a separate user for your application with limited permissions.
DATABASE_USERNAME=
DATABASE_PASSWORD=

# This should be a long, random string. You can generate one using a password manager or an online tool.
# It must be 32 characters long for the JWT to work properly.
SYNKRO_SECRET=

# In milliseconds. Default is 600000 (10 minutes) but you can adjust it to your needs.
SYNKRO_JWT_EXPIRATION=

# In days. Default is 7 but you can adjust it to your needs.
SYNKRO_REFRESH_TOKEN_EXPIRATION_DAYS=